JavaTest/query.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

    <xsd:element name="queries" type="queriesType"></xsd:element>
    
    <xsd:complexType name="queriesType">
    	<xsd:sequence>
    		<xsd:element name="sql"  type="sqlType" maxOccurs="unbounded" minOccurs="0">
			</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="sqlType">
	    <xsd:simpleContent>
	      <xsd:extension base="xsd:string">
	        <xsd:attribute name="name" type="xsd:string" use="required">
	        </xsd:attribute>
	      </xsd:extension>
	    </xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>